<h1>Projects <a href="#" class="add" ng-click="addForm = !addForm">+</a></h1>

<div ng-model="addForm" ng-init="addForm = false" ng-show="addForm">
	<form id="add_form" ng-submit="p.submit()">
		<input name="id" type="hidden" ng-model="p.form.id">
		<div>
			<label>
				Title
			</label>
			<input name="title" type="text" ng-model="p.form.title">
		</div>
		<div>
			<label>
				Manager
			</label>
			<select name="manager_id" ng-model="p.form.manager_id">
				<option>sdfg</option>
			</select>
		</div>
		<div>
			<button type="submit">{{p.form.id ? 'Save' : 'Add'}}</button>
		</div>
	</form>
</div>

<div>
	<div ng-repeat="project in p.projects" ng-show="p.projects.length > 0">
		{{project.title}}
	</div>

	<h3 ng-show="p.projects.length == 0">
		Empty
	</h3>
</div>